*{
	margin: 0;
	padding: 0;

}
a{
	text-decoration: none;
}

ul, li{
	list-style: none;
}

.continer{
	width: 980px;
	margin: auto;
}
/*Reset Code*/

.facebook-auth{
	background-color: #F0F2F5;
}

.facebook-auth .left{
	width: 60%;
	float: left;
	margin: 135px 0 0 ;
}

.facebook-auth .right{
	width: 40%;
	float: left;
}
.facebook-auth:after{
	content: '';
	display: block;
	clear: both;
}
.facebook-auth .left img{
	width: 300px;
	transform: translate(-30px, 8px);

}
.facebook-auth .left h2{
	font-family: Helvetica ;
	font-weight: 400;
	line-height: 32px;
	color: #1c1e21;
	width: 80%;
}
.facebook-auth .right .login-aria{
	width: 390px;
	background-color: #fff;
	border-radius: 8px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
	padding: 13px;
	margin: 130px 0 0 ;
}
.facebook-auth .right .login-aria input[type="text"]:focus{
	outline: 1px solid #1877F2;
}
.facebook-auth .right .login-aria input[type="password"]:focus{
	outline: 1px solid #1877F2;
}

.facebook-auth .right .login-aria input{
	outline: none;
	width: 100%;
	display: block;
	font-size: 17px;
	padding: 14px 16px;
	border: 1px solid #dddfe2;
	color: #1d2129;
	margin: 20px 0;
	border-radius: 5px;
	box-sizing: border-box;
}
.facebook-auth .right .login-aria input[type="submit"]{
	width: 100%;
	display: block;
	font-family: Helvetica ;
	font-weight: 700;
	font-size: 20px;
	color: #fff;
	background-color: #166FE5;
	border: 1px solid #166FE5;
	border-radius: 5px;
	margin-bottom: 20px;
	cursor: pointer;

}
.facebook-auth .right .login-aria hr{
	border-top: 0px;
	border-left: 0px;
	border-right: 0px;
	border-bottom: 1px solid #DADDE1;
	margin: 20px 0;
}

.facebook-auth .right .login-aria a:nth-child(2){
	font-family: helvetica;
	display: table;
	margin: auto;
	color: #1877f2;
	font-size: 14px;
}
.facebook-auth .right .login-aria a:nth-child(2):hover{
	text-decoration: underline;
}
.facebook-auth .right .login-aria a:nth-child(4){
	font-family: helvetica;
	display: table;
	margin: auto;
	color: #fff;
	font-size: 17px;
	border: 1px solid #36A420;
	border-radius: 5px;
	font-weight: 700;
	background-color:#36A420;
	padding: 15px 20px ;

}
.facebook-auth .right .login-aria a:nth-child(4):hover{
	background-color: #39900d;
}

.facebook-auth .right p{
	text-align: center;
	font-family: helvetica;
	font-weight: 400;
	font-size: 14px;
	color: #1c1e21;
	margin-top: 30px;


}
.facebook-auth .right p a{
	text-align: center;
	font-family: helvetica;
	font-weight: 600;
	font-size: 14px;
	color: #1c1e21;

}
.facebook-auth .right p a:hover{
	text-decoration: underline;
}

/* fotter start */
.fotter{
	text-align: center;
	
}
.footertop{
	border-bottom: 1px solid #737373;
	margin: 10px 0;
}
.footertop ul li{
	display: inline-block;


}
.footertop ul li a{
	display: block;
	color: #8a8d91;
	font-size: 14px;
	padding: 5px 10px;
}
.footertop ul li a:hover{
	text-decoration: underline;
}

.footermid ul li{
	display: inline-block;
}

.footermid ul li a{
	display: block;
	color: #8a8d91;
	font-size: 14px;
	padding: 5px 6px;
}
.footermid ul li a:hover{
	text-decoration: underline;
}
.footerbootm p{
	display: block;
	font-size: 11px;
	margin-left: 6px;
	padding-bottom: 10px;
	color: #8a8d91;
}